{:paths ["src"]
 :tasks
 {:requires ([build :as b])
  dialog
  {:doc "Locally build dialog manual"
   :task (b/local-build "dialog")}
  ide
  {:doc "Locally build dialog-ide manual"
   :task (b/local-build "dialog-ide" "docs")}
  aamachine
  {:doc "Locally build aamachine manual"
   :task (b/local-build "aamachine")}
  build
  {:doc "Build the full documentation site (dialog and aamachine)"
   :task (shell "npx antora --stacktrace antora-playbook.yml")}}}