article {
	background-color: #ffffff;
	font-family: Georgia, serif;
	font-size: 20px;
}


article a:link {
	color: #445577;
}

article a:visited {
	color: #8899bb;
}

article a:hover {
	color: #7799ff;
}

.doc pre > code {
	border: 2px solid #444444;
	border-radius: 10px;
	background: #E6DFC6 !important;
	padding: .5em;
}

.doc div.output pre > code {
	background-color: #eef4ff !important;
	padding: .5em;
	font-size: .9em;
}

footer.footer {
    padding: 8px;
    text-align: center;
}